@import "src/styles/variables";

.container {
  position: fixed;
  width: 100%;
  bottom: 0;

  .footer_container {
    height: $footerHeight;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer {
      font-size: $fontSizeFooter;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer_container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
