.container {
  color: #333;
  font-size: 1.2rem;
  margin: 5rem auto;

  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 70rem;
  height: 30rem;
  display: block;
  font-size: 2rem;
  border-bottom: 0.3rem solid transparent;
  border: 0.1rem solid #000;
}

