/* SIZES */

//height
$headerHeight: 5rem;
$footerHeight: 2rem;

/* FONTS */

//root
$rootFontSize: 10px;

//font-size
$fontSizeHeader: 3rem;
$fontSizeFooter: 1.5rem;

//font-weight
$fontWeightBold: 600; 
