@import "src/styles/variables";

.wrapper {
  position: fixed;
  top: 0;
  height: $headerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: black;
  background-color: #fff;

  .header{
    font-weight: $fontWeightBold;
    font-size: $fontSizeHeader;
  }

}
