.pile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4rem;
}

.pile:hover {
   color: #FF69B4
}

.pile > span{
    font-size: 2rem;
}

.center{
    margin: auto;
}