.container {
    /* display: flex;
    flex-direction: column;
    height: 20rem; */
}

.label{
    font-size: 2rem;
    font-weight: bold;
}

button{
    color: black;
}

.cancel{
    margin-top: 2rem;
}