.button_5{
    width: 5rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem; 
    padding: 0rem;
}

.button_10{
    width: 10rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_15{
    width: 15rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_20{
    width: 20rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_25{
    width: 25rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_30{
    width: 30rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_35{
    width: 35rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_40{
    width: 40rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_45{
    width: 45rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_50{
    width: 50rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_55{
    width: 55rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_60{
    width: 60rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}
.button_110{
    width: 110rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}
.button_120{
    width: 120rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.row{
    max-width: 200rem;
}