.button_10{
    width: 10rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_20{
    width: 20rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.button_110{
    width: 110rem;
    height: 7.6rem;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.row{
    max-width: 200rem;
}