*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 10px;
  color: black;
}

.container{
    margin: auto;
    width: 100rem;
    padding: 1rm;
}

body {
    background: #0f2027; /* fallback for old browsers */
    background: linear-gradient(to right,#f7b7de, #ffcceb, #fc90d2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
  
  
.result_text {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50rem;
    height: 30rem;
    display: block;
    font-size: 2rem;
    border-bottom: 0.3rem solid transparent;
}

button {
    font-weight: bold;
    background: none;
    cursor: pointer;
    text-decoration: inherit;
    font-size: 4rem;
    color: black;
    padding: 0.7rem 1rem;
    border-image-slice: 1;
    border: none;
  }

  .pull_right{
    float: right;
  }

  .toggle_div{
    height: 4rem;
  }

  .header {
    padding: 6rem;
    text-align: center;
    border-bottom: black;
    color: white;
    font-size: 3rem;
    color: black;
  }
